.tilte{
   width: 251px;
   height: 37px;
   margin-left: 1rem;
   margin-top: 1rem;
   font-family: "Ubuntu";
   font-weight: 700;
   font-size: 32px;
   line-height: 35.77px;
   color: rgba(255, 255, 255, 1);
}