#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}
.App{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal{
   position: absolute;
   z-index: 9999;
   background-color: white;
   border-radius: 5px;
   width: fit-content;
   height: fit-content;
   top: 16%;  
   padding:1rem 3rem;
   left: 32%;
}
.backdrop{
  background-color: rgba(127, 127, 127, 0.584);
  position: absolute;
  z-index: 9999;
  min-width: 100vw;
  min-height: 100vh;
  top: 0;
}
form{
  display: flex;
  flex-direction: column;
  align-items: center;
}
form label{
  font-weight: 500;
  padding-top: 6px;

}
form input{
  height: 40px;
  width: 350px;
  margin: 6px;
  font-size: larger;
}